<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/images/icon.jpg" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.10.2.0.js"></script>
    <script src="static/js/main.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <header>
      <div class="header-left">
        <a href="/" class = "header-logo-link">
            <img src="/static/images/icon.jpg" alt="Logo" class="header-logo" />
        </a>
        {% if user %}
          <span>Hi, {{ user.name }}!</span>
          <a href="/logout" class="header-buttons">Logout</a>
        {% else %}
          <a href="/login" class="header-buttons">Login with Google</a>
        {% endif %}
        <a href="/recipes" class="header-buttons">Recipes</a>
        <a href="/" class="header-buttons">My Favourites</a>
      </div>
      <div class="header-right">
        <input class="header-search" type="text" placeholder="Search..." />
      </div>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
