{% extends "base.html" %}

{% block title %}Meat Type{% endblock %}

{% block content %}
<div class="meat-type-container">
  <div class="splash-message">
    <h1>Select Your Meat Type</h1>
    <p>Choose the type of meat you would like to cook today!</p>
    
  </div>
  
  {% if meat_type == "chicken" %}
    <div class="meat_type_selection">
      <a href="/cooking_session?name=Chicken%20Breast&image=https%3A%2F%2Fwww.southernliving.com%2Fthmb%2F-TWfCwlFHd-7DIzTIYXh2Zxr_f8%3D%2F1500x0%2Ffilters%3Ano_upscale%28%29%3Amax_bytes%28150000%29%3Astrip_icc%28%29%2FHow_To_Grill_Chicken_010-e4aff40705b247868fe3fb6755e8bdd4.jpg" class="meat-type-selector">
        <img src="https://www.southernliving.com/thmb/-TWfCwlFHd-7DIzTIYXh2Zxr_f8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/How_To_Grill_Chicken_010-e4aff40705b247868fe3fb6755e8bdd4.jpg" alt="Chicken Breast">
        <p>Chicken Breast</p>
      </a>
    </div>
    <div class="meat_type_selection">
      <a href="/cooking_session?name=Whole%20Chicken&image=https%3A%2F%2Fberrymanfarms.ca%2Fcdn%2Fshop%2Fproducts%2Fberrymanfarms-chicken-whole-3-5-lbs-1266990088218_1024x1024.jpg%3Fv%3D1569206574" class="meat-type-selector">
        <img src="https://berrymanfarms.ca/cdn/shop/products/berrymanfarms-chicken-whole-3-5-lbs-1266990088218_1024x1024.jpg?v=1569206574" alt="Whole Chicken">
        <p>Whole Chicken</p>
      </a>
    </div>
  
  {% elif meat_type == "pork" %}
    <div class="meat_type_selection">
      <a href="/cooking_session?name=Pork%20Chops&image=https%3A%2F%2Fencrypted-tbn0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcQv5T9Mfk_3X2ep-pjgq6381vzLJ_SxG3Olfw%26s" class="meat-type-selector">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv5T9Mfk_3X2ep-pjgq6381vzLJ_SxG3Olfw&s" alt="Pork Chops">
        <p>Pork Chops</p>
      </a>
    </div>
    <div class="meat_type_selection">
      <a href="/cooking_session?name=Pork%20Tenderloin&image=https%3A%2F%2Fencrypted-tbn0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcTqepR2gFtc5tuB3dW6lxzu8bvGwb-qpTLDXw%26s" class="meat-type-selector">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqepR2gFtc5tuB3dW6lxzu8bvGwb-qpTLDXw&s" alt="Pork Tenderloin">
        <p>Pork Tenderloin</p>
      </a>
    </div>
  {% else %}
    <p>Unknown meat type: {{ meat_type }}</p>
  {% endif %}
  
</div>
{% endblock %}