{% extends "base.html" %}

{% block title %}My Favourites{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">

<h1 class="recipe-title">My Favourite Recipes</h1>
<h2 class="recipe-subtitle">Recipes you have saved.</h2>

<div class="recipe-wrapper">
    <div class="results-row">
        <div id="results-count" class="results-count"></div>
    </div>
    <div id="recipes-container" class="recipes-grid"></div>
</div>


<script src="{{ url_for('static', filename='js/my_favs.js') }}"></script>
{% endblock %}